{% extends 'layout.twig' %}

{% block body %}
  <!--<h1>{{title}}</h1>-->
  <section class="container">
    <div class="left-half">
      <article>
        <p><i class="fas fa-chevron-up" style="font-size:200px;"></i></p>
      </article>
    </div>
    <div class="right-half">
      <article>
        <p><i class="fas fa-chevron-down" style="font-size:200px;"></i></p>
      </article>
    </div>
  </secion>
{% endblock %}

{% block script %}
<script>
  

</script>
{% endblock %}